body{
    background:radial-gradient(rgb(147, 108, 164),rgb(60, 40, 142), rgb(231, 233, 231));
    font-family:Arial, Helvetica, sans-serif;
}
.form-title{
    color: rgb(231, 229, 233);
    width:400px;
    margin:auto;
    padding:10px;
    border:1px solid rgb(238, 237, 237);
    border-radius:10px;
    background-color:rgb(83, 42, 103);
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    font:poppins;
    box-shadow:0 8px 32px rgba(38, 11, 190, 0.1);
}
button{
    background-color:rgb(130, 28, 207);
    color:rgb(249, 246, 246);
    padding:10px;
    border-radius:5px;
    font-size:20px;
    cursor:pointer;
    font-weight: bold;

    .button:hover{
        background-color:rgb(255, 255, 255);
        color:rgb(142, 84, 187);
        background-color:rgb(203, 124, 124);
    }

input{
    color:white;

    width:400px;
    padding:10px;
    border:1px solid rgb(238, 237, 237);
}    
    
}